<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <aside class="sidebar">
      <nav>
        <ul>
          <li
            class="<%= (typeof currentPage !== 'undefined' && currentPage === 'dashboard') ? 'active' : '' %>"
          >
            <a href="/manager/dashboard" class="nav-link">
              <i class="fa-solid fa-house"></i> <span>Dashboard</span>
            </a>
          </li>
          <li
            class="<%= (typeof currentPage !== 'undefined' && currentPage === 'menuManagement') ? 'active' : '' %>"
          >
            <a href="/manager/menuManagement" class="nav-link">
              <i class="fa-solid fa-users"></i> <span>Menu Management</span>
            </a>
          </li>
          <li
            class="<%= (typeof currentPage !== 'undefined' && currentPage === 'staffManagement') ? 'active' : '' %>"
          >
            <a href="/manager/staffManagement" class="nav-link">
              <i class="fa-solid fa-desktop"></i> <span>Staff Management</span>
            </a>
          </li>
          <li
            class="<%= (typeof currentPage !== 'undefined' && currentPage === 'orders') ? 'active' : '' %>"
          >
            <a href="/manager/orders" class="nav-link">
              <i class="fa-solid fa-shop"></i> <span>Order Tracking</span>
            </a>
          </li>
          <li
            class="<%= (typeof currentPage !== 'undefined' && currentPage === 'order-history') ? 'active' : '' %>"
          >
            <a href="/manager/order-history" class="nav-link">
              <i class="fa-solid fa-clock-rotate-left"></i>
              <span>Order History</span>
            </a>
          </li>
          <li
            class="<%= (typeof currentPage !== 'undefined' && currentPage === 'revenue') ? 'active' : '' %>"
          >
            <a href="/manager/revenue" class="nav-link">
              <i class="fa-solid fa-wallet"></i> <span>Revenue & Payouts</span>
            </a>
          </li>
          <li
            class="<%= (typeof currentPage !== 'undefined' && currentPage === 'settings') ? 'active' : '' %>"
          >
            <a href="/manager/settings" class="nav-link">
              <i class="fa-solid fa-gears"></i> <span>Account Settings</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="sidebar-footer">
        <footer><%- include("../partials/footer.ejs") %></footer>
        <a href="/logout" class="logout-btn">
          Log Out <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </div>
    </aside>
  </body>
</html>
